<h2><%= @question.title %></h2>
<% if @question.user == current_user %>
  <%= link_to "Edit Question", edit_question_path(@question) %>
<% end %>
<p>
  <%= @question.content %>
  ~ <%= link_to @question.user.name, user_path(@question.user) %>
</p>

<hr>
<h4>Comments:</h4>


<ul>
 <% if @question.best_response %>
  <li>Winnnner! <%= @question.best_response.content %> ~ <%= link_to @question.best_response.user.name, user_path(@question.best_response.user) %></li>
 <% end %>
<% @question.responses.each do |response| %>
  <% unless response == @question.best_response %>
    <li>
      <%= response.content %> ~ <%= link_to response.user.name, user_path(response.user) %>
      <% if response.user == current_user %>
        <%= link_to "Delete Response", question_response_path(@question, response),
                                        :data => {
                                                  :confirm => "You sure??",
                                                  :method => "delete" } %>
      <% end %>
      <% if @question.user == current_user %>
        <%= form_for @question do |f| %>
        <%= f.hidden_field :best_response_id, :value => response.id %>
        <%= f.submit "best response", class: 'btn btn-info btn-xs' %>
        <% end %>
      <% end %>
    </li>
    <% end %>
<% end %>
</ul>
<% if current_user %>
  <h4>Add a comment:</h4>
  <%= render 'responses/form' %>
<% end %>
