<h2><%= @question.title %></h2>
<%= link_to "Edit Question", edit_question_path(@question) %>
<p>
  <%= @question.content %>
</p>

<%= render 'responses/form' %>
<ul>

<% @question.responses.each do |response| %>
  <li>
    <%= response.content %>,
    <%= link_to "Delete Response", question_response_path(@question, response),
                                    :data => {
                                              :confirm => "You sure??",
                                              :method => "delete" } %>
  </li>
<% end %>
</ul>
