<h2><%= @question.title %></h2>
<%= link_to "Edit Question", edit_question_path(@question) %>
<p>
  <%= @question.content %>
  ~ <%= @question.user.name %>
</p>

<hr>
<h4>Comments:</h4>
<ul>
<% @question.responses.each do |response| %>
  <li>
    <%= response.content %>
    <%= link_to "Delete Response", question_response_path(@question, response),
                                    :data => {
                                              :confirm => "You sure??",
                                              :method => "delete" } %>
  </li>
<% end %>
</ul>
<% if current_user %>
  <h4>Add a comment:</h4>
  <%= render 'responses/form' %>
<% end %>
