<!DOCTYPE html>
<html>
<head>
  <title>ScienceOverflow</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1><%= link_to "SCIENCE! | Overflow!", questions_path %></h1>

        <% if current_user %>
           <!-- link_to current_user.username, user_path(current_user.id) %> -->
           Hi <%= current_user.name %>!
          <%= link_to "Log Out", log_out_path %>
        <% else %>
          <%= link_to "New User", new_user_path %>
          <%= link_to "Log In", log_in_path %>
        <% end %>

        <h3></h3>
        <%= image_tag("hunky_newton.jpg", :alt => "newton") %>
        <%= image_tag("hunky_lovelace.jpg", :alt => "newton") %>
        <%= flash[:notice] %>
        <%= flash[:alert] %>
      </div>
    </div>
    <div class="row">
      <%= yield %>
    </div>
  </div>

</body>
</html>
